// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
header {
  #search {

  }
  nav {

    .container {
      flex-wrap: wrap !important;
      display: block !important;
    }
  }
}

.brand {
  img {
    max-height: 30px;
    max-width: none;
  }
}
